<footer class="site-footer">
  <div class="footer-wrapper">

    <!-- Brand -->
    <div class="footer-col">
      <h3 class="footer-logo">Markelyt Agency</h3>
      <p class="footer-text">
        We help brands grow with data-driven digital marketing,
        powerful design, and scalable technology.
      </p>
    </div>

    <!-- Services -->
    <div class="footer-col">
      <h4>Services</h4>
      <ul>
        <li>Digital Marketing</li>
        <li>Web Development</li>
        <li>Brand Strategy</li>
        <li>SEO & Performance</li>
      </ul>
    </div>

    <!-- Quick Links -->
    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        {% comment %} <li>About Us</li>
        <li>Services</li>
        <li>Contact</li>
        <li>Privacy Policy</li> {% endcomment %}
        <li><a href="about">About Us</a></li>
        <li><a href="web">Services</a></li>
        <li><a href="contact">Contact</a></li>
        {% comment %} <li><a href="privacy">Privacy Policy</a></li> {% endcomment %}

      </ul>
    </div>


  <div class="footer-bottom">
    <p>© <span id="year"></span> Markelyt Agency. All rights reserved.</p>
    {% comment %} <button id="scrollTopBtn">↑</button> {% endcomment %}
  </div>
</footer>
